# CDK
cdk.out/
.cdk.staging/
cdk.context.json

# Dependencies
node_modules/
package-lock.json

# Environment files
config/test.json
config/prod.json

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db 